.jumbotron {
    background-color: rgb(54, 116, 181);
    padding: 60px;
    text-align: center;
    color: white;
    font-size: 20px;
    background-image: url(img/P2.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    background-image: image();
    color: #333;
    margin: 0;
    padding: 0;
}

.body content {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

nav {
    background-color: #333;
    padding: 10px;
    text-align: left;
}

nav ul li {
    display: inline;
    margin: 6px;
    font-weight: bold;
}

nav ul li a{
    text-decoration: none;
    color: white
}

nav ul li a:hover{
    background-color: #8aa;
    padding: 0.75em;
    transition: padding 0.2s ease;
    -webkit-transition: padding 0.2s ease;
    -moz-transition: padding 0.2s ease;
    -ms-transition: padding 0.2s ease;
    -o-transition: padding 0.2s ease;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: cyan;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4 2 10px rgba(67, 56, 56, 0.1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.75em;
    margin-bottom: 10px;
}

h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.5em;
    line-height: 1.6;
    margin-bottom: 15px;
}

.box-gray{
    color: moccasin;
    background-color: gray;
    padding: 10px;
    margin: 10px;
    padding: 14px;
    border-radius: 23px;
    border-style: groove;
    box-shadow: 5px 5px 2px 1px rgb(81, 69, 112);
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    -ms-border-radius: 23px;
    -o-border-radius: 23px;
}

.box-green {
    color: green;
    background-color: aqua;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.box-black {
    color: white;
    background-color: black;
    margin: 10px;
    padding: 14px;
    border-radius: 23px;
    border-style: groove;
    box-shadow: 5px 5px 2px 1px rgb(86, 2, 31);
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    -ms-border-radius: 23px;
    -o-border-radius: 23px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 4cqmin 1px rgb(91, 61, 109);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.footer {
    color: white;
    background-color: #040a18;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}